.cart {
  display: flex;
  padding: 0 2rem;
  min-height: 85vh;
}
.cart__left,
.cart__right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart__item {
  display: flex;
  height: 200px;
  width: 100%;
  align-items: center;
  overflow: hidden;
  /* justify-content: center; */
  margin: 1rem 0;
  padding: 1rem 2rem;
  position: relative;
}

.cart__item:hover {
  box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5);
}

.cart__item > img {
  object-fit: contain;
  height: 100%;
  margin-right: 1rem;
}

.cart__itemDetails {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  height: 100%;
}

.cart__itemDetails > h5 {
  font-size: xx-large;
  margin-bottom: 5px;
}

.cart__itemDetails > h6 {
  font-size: large;
  margin-bottom: 5px;
}

.cart__itemDetails strong {
  color: red;
}

.cart__item > button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 15px;
  border: none;
  background: red;
  color: white;
  font-size: large;
  display: none;
}

.cart__item:hover > button {
  display: block;
}

.cart__right > form {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  padding: 2rem 4rem;
}

@media (max-width: 548px) {
  .cart {
    flex-direction: column;
    justify-content: center;
  }
}
